/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  flex-wrap: wrap;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/****** header ***********/
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  /****** centrer audela de 1440px ***********/
  margin-right: auto;
  margin-left: auto;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 19px;
  width: 61px;
  margin-top: 20px;
}
.links {
  margin-top: 16px;
}
.linkHeberge {
  margin-right: 40px;
}
.linkActivite {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.linkHeberge:hover,
.linkActivite:hover {
  border-top: 2px solid #0065fc;
  padding-top: 13px;
  color: #0065fc;
}
a {
  color: inherit;
  text-decoration: none;
}

/****** Navigation ***********/
.infoTitre h3 {
  font-size: 22px;
  font-weight: 700;
}
.infoTitre p {
  margin-top: -15px;
  font-size: 16px;
  font-weight: 400;
}
.section-title {
  margin: 0;
  font-size: 22px;
}
/****** bare de recherche ***********/

.btnLogo {
  background-color: #d9d9d9;
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #d9d9d9;
}
.recherche {
  display: flex;
  height: 49px;
  margin-top: 35px;
  margin-bottom: 35px;
}
#rechercheMarseille {
  font-size: 18px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  border: 1px solid #d9d9d9;
}
#rechercheMarseille-deux {
  display: none;
  visibility: hidden;
}
input::placeholder {
  font-weight: 700;
  color: black;
  opacity: 1;
}
.searchButton {
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  width: 131px;
  height: 49px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}
.search-logo {
  display: none;
  visibility: hidden;
}

/****** Filtres ********/
.filtres {
  margin-top: -50px;
  display: flex;
  align-content: start;
  height: auto;
}
.filtreTitre {
  align-content: center;
  padding-top: 15px;
  margin-top: 30px;
}

.filtreListe {
  list-style-type: none;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.filtreListe li {
  display: inline-flex;
  padding-right: 20px;
}
.filtreListe i {
  padding-right: 10px;
}
.filtreListe button {
  background-color: transparent;
  padding: 15px 14px 15px 14px;
  border-radius: 25px;
  width: auto;
  border: 2px solid #d9d9d9;
  font-weight: 700;
  font-size: 17px;
  margin-left: -10px;
}

.filtreListe button:hover {
  background-color: #deebff;
}
.infLogement {
  display: flex;
  height: 24px;
  margin-bottom: 40px;
}
.infLogo {
  align-content: end;
  justify-content: end;
}
.btnInfLogo {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}
.infParagraphe {
  margin: -15px;
  padding-left: 20px;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements-cards {
  display: flex;
  justify-content: space-evenly;
  margin-right: -40px;
}
.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  width: 210px;
  height: 190px;
  margin-right: 45px;
}
.hebergements-cards img {
  width: 250px;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
  width: 200px;
  height: auto;
  margin-top: -10px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.hebergements-cardss .card-title {
  margin-top: 8px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin-top: -10px;
  margin-bottom: 10px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}
.lien-affiché {
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 15px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***** Activité ****/
.activite-title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 40px;
}
.activite {
  display: flex;
  justify-content: space-evenly;
}
.activite img {
  width: 300px;
  height: 380px;
  margin: -5px;
  border-radius: 20px 20px 0px 0px;
}
.activite .card-title {
  margin-left: 10px;
}
/***** FOOTER ******/
.foot-link {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin-top: 50px;
  height: 165px;
  width: 100%;
}
.foot-list-un p {
  font-size: 16px;
  font-weight: 400;
}
.foot-list-un {
  margin-left: -30px;
  margin-top: -10px;
  width: fit-content;
}
.foot-list-deux {
  height: 165px;
  width: 400px;
  margin-right: 10px;
  margin-top: -10px;
  width: fit-content;
}
.foot-list-trois {
  height: 165px;
  width: 400px;
  margin-top: -10px;
  margin-left: 40px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  body {
    margin: -12px;
  }
  .filtres {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-content: start;
    height: auto;
  }
  .filtreListe button {
    margin-left: -45px;
    margin-right: 25px;
  }
  .search-logo {
    display: none;
    visibility: hidden;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activite-title {
    font-size: 22px;
    font-weight: 700;
    margin-left: 40px;
  }
  .activite {
    display: flex;
    justify-content: space-evenly;
  }
  .activite img {
    width: 200px;
    height: 200px;
    margin: -5px;
    border-radius: 20px 20px 0px 0px;
  }
  .activite .card-title {
    margin-left: 10px;
    font-size: 12px;
  }
  .foot-list-un {
    margin-left: 30px;
    margin-top: -10px;
    margin-right: 100px;
    width: fit-content;
  }
  .foot-list-deux {
    margin-right: 40px;
  }
  .foot-link {
    justify-content: flex-start;
  }
  .foot-list-trois {
    height: 165px;
    width: fit-content;
    margin-top: -10px;
    margin-left: 100px;
    padding-right: 0px;
  }
  #rechercheMarseille-deux {
    display: none;
    visibility: hidden;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: -20px;
    font-family: "Raleway", sans-serif;
  }
  /** HEADER **/
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 105%;
  }
  .links {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 120%;
    height: 2em;
    padding-top: 3%;
    border-bottom: 2px solid #f2f2f2;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -15px;
    flex-wrap: nowrap;
    font-size: 19px;
  }
  .logoContainer {
    padding: 30px 0px 10px 0px;
  }
  .linkActivite:hover,
  .linkHeberge:hover {
    border-top: hidden;
  }

  /** PARTIE RECHERCHE **/
  .infofmations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .recherche {
    width: 100%;
  }
  #rechercheMarseille {
    font-size: 18px;
    opacity: 1;
    text-align: justify;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    width: 75%;
    display: none;
    visibility: hidden;
  }
  #rechercheMarseille-deux {
    font-size: 18px;
    opacity: 1;
    text-align: justify;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    width: 75%;
    display: inline;
    visibility: visible;
  }
  .btnLogo {
    width: 50px;
    height: 49px;
  }
  input::placeholder {
    width: 500px;
    object-fit: cover;
  }
  .btnLogo {
    width: 15%;
    height: 100%;
  }
  .search-logo {
    border-radius: 15px 16px 15px 16px;
    background-color: #0065fc;
    color: white;
    width: 20%;
    height: 100%;
    margin-left: -20px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    display: inline;
    visibility: visible;
    box-shadow: 0px 60px 40px -7pxrgba (0, 0, 0, 0.2);
  }
  .searchButton {
    display: none;
    visibility: hidden;
  }
}
